# Base directory containing raw image folders
BASE_DIR=D:\model_train

# Output directory for the finalized dataset
OUTPUT_DIR=D:\model_train\annotated_dataset

# Inference confidence threshold
CONF_THRESH=0.25
