# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.env

# SQLite
*.db
*.sqlite3

# YOLO / ML Models
runs/
*.pt
*.onnx
*.engine
*.tflite
*.torchscript

# Output directories
annotated_dataset/
vedio/

# OS
.DS_Store
Thumbs.db

# Images
*.jpg
*.jpeg
*.png
*.bmp
*.webp
*.mp4   
.vscode
.vscode/settings.json

